body {
    color: white;
    background: linear-gradient(to right, #A2EFE3, #73D8FB);
    font-family: roboto, arial, sans-serif;
    padding: 0;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

#frame {
    display: block;
    margin: 50px auto;
    padding: 50px 30px;
    background-color: black;
    border-radius: 10%;
    text-align: center;
}

#screen {
    display: block;
    min-height: 50px;
    padding: 10px;
    margin: 15px 10px;
    font-size: 28px;
    background-color: #203000;
}

#history {
   font-size: 12px; 
}

#buttons {
    display: flex;
    flex: wrap;
    align-items: center;
    justify-content: center;
}

.btn {
    color: white;
    font-family: roboto, arial, sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 70%;
    border: none;
    margin: 10px;
    padding: 10px;
    width: 40px;
}

.btn:active {
    border-color: white;
    box-shadow: 0 0 1px white;
    transform: scale(1.1);
    opacity: 0.9;
}

.dark-btn {background-color: grey;}

.dark-btn:hover {background-color: rgb(100, 100, 100)}

.orange-btn {background-color: orange;}

.orange-btn:hover {background-color: rgb(196, 127, 0)}

.grey-btn {background-color: silver;}

.grey-btn:hover {background-color: rgb(167, 167, 167)}