body {
    color: black;
    background: linear-gradient(to right, #A2EFE3, #73D8FB);
    font-family: roboto, arial, sans-serif;
    font-weight: bold;
    padding: 0;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

#calculator {
    display: block;
    margin: 30px auto;
    text-align: center;
    color: white;
    border: white solid 2px;
}

#screen {
    display: flex;
    flex-direction: column;
    word-wrap: break-word;
    word-break: break-all;
    max-width: 218px;
    min-height: 50px;
    padding: 10px;
    border: 1px solid white;
    font-size: 28px;
    background-color: rgb(9, 43, 44, .6);
}

#previous {
   font-size: 16px; 
}

#button-grid {
    display: flex;
    flex: wrap;
    align-items: center;
    justify-content: center;
}

.btn {
    color: black;
    font-family: roboto, arial, sans-serif;
    font-weight: bold;
    font-size: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid white;
    width: 60px;
    height: 40px;
    background-color: rgb(255, 255, 255, .6);
}

.btn:active {
    transform: scale(1.05);
    opacity: .9;
}