body {
    color: white;
    background-color: #122b3f;
    font-family: roboto, arial, sans-serif;
    padding: 0;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

#frame {
    display: block;
    margin: 50px auto;
    padding: 50px 30px;
    background-color: black;
    border-radius: 10%;
    text-align: center;
}

#screen {
    display: block;
    min-height: 50px;
    padding: 10px;
    margin: 15px 10px;
    font-size: 30px;
    background-color: #203000;
}

#buttons {
    display: flex;
    flex: wrap;
    align-items: center;
    justify-content: center;
}

.dark-btn, .grey-btn, .orange-btn {
    border-radius: 50%;
    border-width: 4px;
    margin: 10px;
    padding: 10px;
    width: 20px;
}

.dark-btn {
    background-color: grey;

}

.orange-btn {
    background-color: orange;
}

.grey-btn {
    background-color: silver;
}

.pressed {
    transform: scale(1.1);
    border-color: white;
    box-shadow: 0 0 10px white;
}